@model IEnumerable<Microsoft.Azure.IoTSolutions.GdsVault.CosmosDB.Models.CertificateRequest>

@{
    ViewBag.Title = "List of Certificate Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Certificate Requests</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequestId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RequestId }) |
                @Html.ActionLink("Details", "Details", new { id = item.RequestId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RequestId })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
