@model Microsoft.Azure.IIoT.OpcUa.Services.GdsVault.Common.Models.CertificateStore

<h2>View To-Do Item Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrustListId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrustListId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorityId)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrustListId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
